---
version: "3.4"

services:
  db:
    image: "postgres:13-alpine"
    env_file:
      - "dev.env"
      - "creds.env"
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    ports:
      - "127.0.0.1:5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  postgres_data: {}