{% load helpers %}
{% if perms.nautobot_device_lifecycle_mgmt.view_softwarelcm and perms.nautobot_device_lifecycle_mgmt.view_validatedsoftwarelcm %}
<div class="row">
    {% if obj_soft %}
    <div class="col-md-12">
        {% include 'nautobot_device_lifecycle_mgmt/inc/software_info.html' %}
    </div>
    {% endif %}
    {% if validsoft_table %}
    <div class="col-md-12">
        {% include 'nautobot_device_lifecycle_mgmt/inc/validatedsoftware_info.html' %}
    </div>
    {% endif %}
</div>
{% endif %}

