{% if perms.dcim.view_softwareversion %}
{% if object.software_version %}
        <div class="card">
            <div class="card-header">
                <strong>Software</strong> {% if obj_soft_valid %}<span class="badge bg-success">Valid{% else %}<span class="badge bg-danger">Invalid{% endif %}</span>
            </div>
            <table class="table table-hover card-body attr-table">
                <tr>
                    <td>Name</td>
                    <td>
                        <a href="{% url 'dcim:softwareversion' pk=object.software_version.id %}">{{ object.software_version }}</a>
                    </td>
                </tr>
                <tr>
                    <td>Device Platform</td>
                    <td>
                        {{ object.software_version.platform }}
                    </td>
                </tr>
                <tr>
                    <td>Version</td>
                    <td>
                        {{ object.software_version.version }}
                    </td>
                </tr>
            </table>
        </div>
{% endif %}
{% endif %}