{% extends 'generic/object_detail.html' %}
{% load helpers %}
{% load humanize %}

{% block masthead %}
    <h2>Contract: {% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Contract</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr style="font-weight: bold">
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Provider</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:providerlcm' pk=object.provider.id %}">
                        {{ object.provider }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>Number</td>
                <td>{% if object.number %} {{ object.number }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>{% if object.start %} {{ object.start }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>End Date</td>
                <td>{% if object.end %} {{ object.end }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Cost</td>
                <td>{% if object.cost %} {{ object.cost | intcomma }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Currency</td>
                <td>{% if object.currency %} {{ object.currency }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Support Level</td>
                <td>{% if object.support_level %} {{ object.support_level }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Contract Type</td>
                <td>{% if object.contract_type %} {{ object.contract_type }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Devices</td>
                <td>
                    <a href="{% url 'dcim:device_list'  %}?nautobot_device_lifecycle_mgmt_device_contracts={{ object.id }}">{{ object.devices.count }}</a>
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>{% if object.comments %}<pre>{{ object.comments|placeholder  }}</pre>{% else %} &mdash; {% endif %}</td>
            </tr>
        </table>
    </div>
{% endblock %}
