{% extends 'generic/object_detail.html' %}
{% load helpers %}

{% block masthead %}
    <h2>CVE: {% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>CVE</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr style="font-weight: bold">
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Published Date</td>
                <td>{% if object.published_date %} {{ object.published_date }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Link</td>
                <td><a href="{{ object.link }}" target="_blank">{{ object.link }}</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>{% if object.status %} <span class="label" style="color: {{ object.status.color|fgcolor }}; background-color: #{{ object.status.color }}">{{ object.get_status_display }}</span> {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{% if object.description %} {{ object.description }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Severity</td>
                <td>{% if object.severity %} {{ object.severity }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>CVSS Base Score</td>
                <td>{% if object.cvss %} {{ object.cvss }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>CVSSv2 Score</td>
                <td>{% if object.cvss_v2 %} {{ object.cvss_v2 }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>CVSSv3 Score</td>
                <td>{% if object.cvss_v3 %} {{ object.cvss_v3 }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Affected Softwares</td>
                <td>
                    {% for affected_software in object.affected_softwares.all %}
                    <a href="{% url 'dcim:softwareversion' pk=affected_software.pk %}">{{ affected_software }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>Fix</td>
                <td>{% if object.fix %} {{ object.fix }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>{% if object.comments %}<pre>{{ object.comments|placeholder  }}</pre>{% else %} &mdash; {% endif %}</td>
            </tr>
        </table>
    </div>
{% endblock %}
