{% extends "generic/object_list.html" %}
{% block header %}
    <div class="row d-print-none">
        <div class="col-md-12 col-lg-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_device_report_list' %}">Device Software Validation Reports</a></li>
                <li class="breadcrumb-item"><a>{{ object }}</a></li>
            </ol>
        </div>
    </div>
{% endblock header %}
{% block title %}Device Software Validation List{% endblock title %}
