{% extends 'generic/object_detail.html' %}

{% block masthead %}
    <h2>Hardware Notice: {% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Hardware Notice</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Devices</td>
                <td>
                    {% for device in devices %}
                    <a href="{% url 'dcim:device' pk=device.pk %}">{{ device }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                {% if object.device_type %}
                <td>Device Type</td>
                <td><a href="{% url 'dcim:devicetype' pk=object.device_type.pk %}">{{ object.device_type }}</a></td>
                {% elif object.inventory_item %}
                <td>Inventory Item</td>
                <td>{{ object.inventory_item }}</td>
                {% endif %}
            </tr>
            <tr>
                <td>End of Sale</td>
                <td>{% if object.end_of_sale %} {{ object.end_of_sale }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>End of Support</td>
                <td>{% if object.end_of_support %} {{ object.end_of_support }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>End of Software Releases</td>
                <td>{% if object.end_of_sw_releases %} {{ object.end_of_sw_releases }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>End of Security Patches</td>
                <td>
                    {% if object.end_of_security_patches %} {{ object.end_of_security_patches }} {% else %} &mdash; {% endif %}
                </td>
            </tr>
            <tr>
                <td>Documentation URL</td>
                <td>
                {% if object.documentation_url %}
                    <a href="{{ object.documentation_url }}" target="_blank">{{ object.documentation_url }}</a>
                {% else %}
                    &mdash;
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Comments</td>
                <td>
                    {% if object.comments %}
                    <pre>{{ object.comments }}</pre>
                    {% else %} &mdash; {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
