{% extends 'generic/object_detail.html' %}

{% block masthead %}
    <h2>{% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block extra_buttons %}
    {% if perms.nautobot_device_lifecycle_mgmt.add_softwareimagelcm and active_tab == 'software-images' %}
        <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:softwareimagelcm_add' %}?software={{ object.pk }}" class="btn btn-success">
            <span class="mdi mdi-plus-thick" aria-hidden="true"></span>
            Add a Software Image
        </a>
    {% endif %}
{% endblock extra_buttons %}

{% block extra_nav_tabs %}
    <li role="presentation"{% if active_tab == 'software-images' %} class="active"{% endif %}>
        <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:software_software_images' pk=object.pk %}">Software Images <span class="badge">{{ object.get_software_images.count }}</span></a>
    </li>
{% endblock %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Software</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Device Platform</td>
                <td>
                    {% if object.device_platform %}
                        <a href="{% url 'dcim:platform' slug=object.device_platform.slug %}">{{ object.device_platform }}</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Software Version</td>
                <td>{{ object.version }}</td>
            </tr>
            <tr>
                <td>Release Date</td>
                <td>{{ object.release_date }}</td>
            </tr>
            <tr>
                <td>End of Support</td>
                <td>{{ object.end_of_support }}</td>
            </tr>
            <tr>
                <td>Documentation URL</td>
                <td>
                {% if object.documentation_url %}
                    <a href="{{ object.documentation_url }}">{{ object.documentation_url }}</a>
                {% else %}
                    <span class="text-muted">&mdash;</span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Long Term Support</td>
                <td>
                {% if object.long_term_support is True %}
                    <span class="text-success"><i class="mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="text-danger"><i class="mdi mdi-close"></i></span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Pre Release</td>
                <td>
                {% if object.pre_release is True %}
                    <span class="text-success"><i class="mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="text-danger"><i class="mdi mdi-close"></i></span>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
