{% extends 'generic/object_retrieve.html' %}
{% load helpers %}
{% load static %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Inventory Items</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
        <tr>
            <td>
                {% if object.inventory_items.all %}
                <ul>
                    {% for inventory_item in object.inventory_items.all %}
                        <li>{{ inventory_item | hyperlinked_object }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <span class="text-muted">None</span>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}