{% extends 'generic/object_retrieve.html' %}

{% block masthead %}
    <h2>{% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>ValidatedSoftware</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Software Version</td>
                <td>
                    {% if object.software %}
                        <a href="{% url 'dcim:softwareversion' pk=object.software.pk %}">{{ object.software }}</a>
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Valid Start</td>
                <td>{{ object.start }}</td>
            </tr>
            <tr>
                <td>Valid End</td>
                <td>
                    {% if object.end %}
                        {{ object.end }}
                    {% else %}
                        &mdash;
                    {% endif %}
                </td>
            </tr>
                <td>Valid Now</td>
                <td>
                {% if object.valid is True %}
                    <span class="text-success"><i class="mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="text-danger"><i class="mdi mdi-close"></i></span>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td>Preferred Version</td>
                <td>
                {% if object.preferred is True %}
                    <span class="text-success"><i class="mdi mdi-check-bold"></i></span>
                {% else %}
                    <span class="text-danger"><i class="mdi mdi-close"></i></span>
                {% endif %}
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Device assignments</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Devices</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_devices_tab' object.pk %}?tab=nautobot_device_lifecycle_mgmt:1">{{ object.devices.count }}</a>
                </td>
            </tr>
            <tr>
                <td>Device Types</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_device_types_tab' object.pk %}?tab=nautobot_device_lifecycle_mgmt:2">{{ object.device_types.count }}</a>
                </td>
            </tr>
            <tr>
                <td>Device Roles</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_device_roles_tab' object.pk %}?tab=nautobot_device_lifecycle_mgmt:3">{{ object.device_roles.count }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Inventory Item assignments</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Inventory Items</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_inventory_items_tab' object.pk %}?tab=nautobot_device_lifecycle_mgmt:4">{{ object.inventory_items.count }}</a>
                </td>
            </tr>
        </table>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>Object Tag assignments</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Object Tags</td>
                <td>
                    <a href="{% url 'plugins:nautobot_device_lifecycle_mgmt:validatedsoftware_object_tags_tab' object.pk %}?tab=nautobot_device_lifecycle_mgmt:5">{{ object.object_tags.count }}</a>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
