{% extends "generic/object_retrieve.html" %}
{% load helpers %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <strong>Device Roles</strong>
    </div>
    <table class="table table-hover card-body attr-table">
        <tr>
            <td>
                {% if object.device_roles.all %}
                <ul>
                    {% for role in object.device_roles.all %}
                        <li>{{ role | hyperlinked_object_with_color }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <span class="text-secondary">None</span>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock content %}