{% extends 'generic/object_create.html' %}
{% load static %}
{% load form_helpers %}
{% load helpers %}

{% block form %}
    {% block pre_form %}{% endblock pre_form %}
    <div class="card">
        <div class="card-header"><strong>Attributes</strong></div>
        <div class="card-body">
            {% render_field form.software %}
            {% render_field form.start %}
            {% render_field form.end %}
            {% render_field form.preferred %}
        </div>
    </div>
    <div class="card">
        <div class="card-header"><strong>Objects Assigned To</strong></div>
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="nav-item">
                    <a class="nav-link active" href="#assigned_to_devices" role="tab" data-bs-toggle="tab">Devices</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#assigned_to_inventory_items" role="tab" data-bs-toggle="tab">Inventory Items</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="#assigned_to_tags" role="tab" data-bs-toggle="tab">Object Tags</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="assigned_to_devices">
                    {% render_field form.devices %}
                    {% render_field form.device_types %}
                    {% render_field form.device_roles %}
                </div>
                <div class="tab-pane" id="assigned_to_inventory_items">
                    {% render_field form.inventory_items %}
                </div>
                <div class="tab-pane" id="assigned_to_tags">
                    {% render_field form.object_tags %}
                </div>
            </div>
        </div>
    </div>
    {% include "inc/extras_features_edit_form_fields.html" %}
{% endblock form %}
