{% extends "generic/object_retrieve.html" %}
{% load helpers %}
{% load static %}

{% block content %}
<div class="card">
    <div class="card-header">
        <strong>Devices</strong>
    </div>
    <table class="table table-hover card-body attr-table">
        <tr>
            <td>
                {% if object.devices.all %}
                <ul>
                    {% for device in object.devices.all %}
                        <li>{{ device | hyperlinked_object }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    <span class="text-secondary">None</span>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock content %}