{% extends 'base.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}


{% block content %}
<div class="pull-right noprint">
<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="mdi mdi-plus-thick" aria-hidden="true"></span> Execute <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="{% url 'extras:job_run_by_class_path' class_path='nautobot_device_lifecycle_mgmt.jobs.lifecycle_reporting.InventoryItemSoftwareValidationFullReport' %}">Run Software Validation</a></li>
    </ul>
</div>
{% if request.user.is_authenticated and table_config_form %}
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ObjectTable_config" title="Configure table"><i class="mdi mdi-cog"></i>Configure</button>
{% endif %}
{% if request.user.is_authenticated and 'export' in action_buttons %}
    {% export_button content_type %}
{% endif %}
</div>
    <h1>{% block title %}Inventory Item Software Validation Reports{% endblock %}</h1>    
    <div class="row">
        <div class="col-md-9">
            <!-- VISUAL BLOCK -->
            {% if report_last_run is None %}
                <h4 class="text-center alert-danger p-4 m-4">-- No validation results found, you need to run the report at least once before seeing the results! --</h4>
            {% else %}
            <h4 class="text-left alert-info p-4 m-4">Last full run of the report: {{ report_last_run }} - {{ report_last_run|timesince }} ago </h4>
            {% endif %}
            {% if bar_chart is not None %}
                {% block graphic  %}
                    <div id="content">
                        <img src="data:image/png;base64,{{ bar_chart|safe }}" style="width:100%" alt="Platform Bar Chart">
                    </div>
                {% endblock %}
            {% else %}
                    <span class=" text-center alert-danger p-4 m-4 ">-- Can't generate visualization, no config validation found. --</span>
            {% endif %}
            <!-- END VISUAL BLOCK -->
            <h3 class="text-center m-2 p-3">Executive Summary</h3>
            <table class="table table-hover table-headings">
                <thead>
                    <tr>
                        <th><a>Type</a></th>
                        <th><a>Total</a></th>
                        <th><a>Valid</a></th>
                        <th><a>Invalid</a></th>
                        <th><a>No Software</a></th>
                        <th><a>Validation (%)</a></th>
                        <th><a>Summary</a></th>
                        <th><a>Export Data</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="even">
                        <td>
                            <a href="/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/">
                                Inventory Items
                            </a>
                        </td>
                        <td>
                            <a href="/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/">
                                {% if inventory_aggr.total is not None %} {{ inventory_aggr.total }} {% else %} -- {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/?&valid=True">
                                {% if inventory_aggr.valid is not None %} {{ inventory_aggr.valid }} {% else %} -- {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/?&valid=False">
                                {% if inventory_aggr.invalid is not None %} {{ inventory_aggr.invalid }} {% else %} -- {% endif %}
                            </a>
                        </td>
                        <td>
                            <a href="/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/?&sw_missing_only=True">
                                {% if inventory_aggr.no_software is not None %} {{ inventory_aggr.no_software }} {% else %} -- {% endif %}
                            </a>
                        </td>
                        <td>{% if inventory_aggr.valid_percent is not None %} {{ inventory_aggr.valid_percent }} % {% else %} -- {% endif %}</td>
                        <td><a target="_blank" href="data:image/png;base64,{{ inventory_visual|safe }}" title="Inventory Pie Chart">
                            <img style="width:150px;" src="data:image/png;base64,{{ inventory_visual|safe }}" alt="Inventory Pie Chart">
                            </a>
                        </td>
                        <td>
                            <a href="/api/plugins/nautobot-device-lifecycle-mgmt/inventory-item-validated-software-result/?format=csv"
                                class="btn btn-default btn-xs" title="Export data for all inventory items" aria-hidden="true"> 
                                <i class="mdi mdi-download"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3 class="text-center m-2 p-3">Inventory Item Part ID Summary</h3>
            {% include 'utilities/obj_table.html' %}
            </div>
        <div class="col-md-3 noprint">
        {% include 'inc/search_panel.html' %}
    </div>
</div>
{% table_config_form table table_name="ObjectTable" %}
{% endblock %}
{% block javascript %}
<script src="{% static 'js/tableconfig.js' %}"></script>
{% endblock %}
